.tmp-container{
      width: 70%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
    }
    .tmp-inner{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      /* height: 300px; */
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: row;
      background-color:grey;
      margin-bottom: 30px;
      position: relative;
    }
    .tmp-inner h2{
      font-size: 36px;
      line-height: 40px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
    }
    .tmp-inner h4{
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
    }
    .tmp-inner .hover-box{
      position: absolute;
      top:0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #222;
      opacity: 0;
      transition: 0.6s linear;
    }
    .tmp-inner .hover-box span{
          position: absolute;
      top:100%;
          left:20%;
      opacity: 0;
          transform: translate(-50%, -50%);
    }
    .tmp-inner:hover{
      transform: scale(.9);
      transition:1s;
    }
    .tmp-inner:hover .hover-box{
      opacity: 0.8;
      background: #222;
      transition: 1s;
    }
    .tmp-inner:hover span{
      opacity: 1;
      top:80%;
      transition: 1s;
    }
    @media only screen and (min-width: 0px) and (max-width:992px) {
      .tmp-container{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
      } 
    }